/.DS_Store
/.pytest_cache
/.vscode
/__pycache__
/addition.py
/alien_invasion
/cats.txt
/cats_dogs.py
/ch3-4_lists
/ch_15_generating_data
/ch_16_downloading_data
/chapter6
/cities.py
/conditional.py
/dice.py
/dogs.txt
/electric_car.py
/employee.py
/favorite_number.py
/favorite_number_remembered.py
/functions.py
/guest.txt
/guest_book.txt
/hello_admin.py
/hello_world.py
/learning_python.py
/learning_python.txt
/messages.py
/my_restaurants.py
/number.json
/pcc_3e-main
/printing_functions.py
/printing_models.py
/restaurant.py
/sandwiches.py
/shirt.py
/sitka_weather_07-2021_simple.csv
/sitka_weather_2021_full.csv
/test_cities.py
/test_employee.py
/user.json
/user.py
/user_dictionary.py
/user_dictionary_load.py
/user_profile
/username.json
/while.py